@charset "UTF-8";

@import "variables";
@import "mixin";

.icon-rest {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 6px;
        width: 4px;
        height: 4px;
        background-color: $color-light-content;
    }
    
    &:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 4px;
        border-top: 4px solid $color-light-content;
        border-bottom: 4px solid $color-light-content;
        height: 2px;
    }
    
    &:hover,
    &:active {
        &:before {
            background-color: $color-content;
        }
        &:after {
            border-top: 4px solid $color-content;
            border-bottom: 4px solid $color-content;
        }
    }
}

.icon-processing {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    @include border-radius(100%);
    
    &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border: 2px solid;
        border-top-color: $gray;
        border-right-color: $gray;
        @include border-radius(100%);
        @include animation(spin 1s linear infinite);
    }
}

@include keyframes(spin) {
    0% {
        @include transform(rotate(0deg));
    }
    
    100% {
        @include transform(rotate(360deg));
    }
}
