<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <meta charset="UTF-8">
    <title>message</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="max-age: 31536000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
    <meta name="author" content="WebpowerChina">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Name of web application (only should be used if the website is used as an app) -->
    <meta name="application-name" content="JOURNEY">

    <!-- Short description of the page (limit to 150 characters) -->
    <!-- In *some* situations this description is used as a part of the snippet shown in the search results. -->
    <meta name="description" content="JOURNEY">

    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow,noodp"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->

    <!-- Short description of your site's subject -->
    <meta name="subject" content="JOURNEY">

    <!-- Very short sentence describing the purpose of the website -->
    <meta name="abstract" content="JOURNEY">

    <!-- Describes the topic of the website -->
    <meta name="topic" content="">

    <!-- Brief summary of the company or purpose of the website -->
    <meta name="summary" content="">

    <!-- Full domain name or web address -->
    <meta name="url" content="">

    <!-- Makes sure your website shows up in all countries and languages -->
    <meta name="coverage" content="Worldwide">

    <!-- Does the same as the coverage tag -->
    <meta name="distribution" content="Global">

    <!-- Gives a general age rating based on sites content -->
    <meta name="rating" content="General">

    <!-- Allows control over how referrer information is passed -->
    <meta name="referrer" content="never">

    <!-- Disable automatic detection and formatting of possible phone numbers -->
    <meta name="format-detection" content="telephone=no">



    <!-- Gives information about an author or another person -->
    <link rel="me" href="mailto:market@webpowerchina.com">
    <link rel="me" href="tel:86 400 118 1598">

    <!-- Prefetching, preloading, prebrowsing -->
    <!--<link rel="dns-prefetch" href="//example.com/">-->
    <!--<link rel="preconnect" href="https://www.example.com/">-->
    <!--<link rel="prefetch" href="https://www.example.com/">-->
    <!--<link rel="prerender" href="https://example.com/">-->
    <!--<link rel="subresource" href="styles.css">-->
    <!--<link rel="preload" href="image.png">-->

    <!-- For IE 10 and below -->
    <!-- No link, just place a file called favicon.ico in the root directory -->

    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="shortcut icon" sizes="16x16" href="<%= htmlWebpackPlugin.files.favicon %>"/>
    <!--<link rel="icon" href="/static/images/favicon-32.png" sizes="32x32" type="image/png">-->
    <!--<link rel="icon" href="/static/images/favicon-48.png" sizes="48x48" type="image/png">-->
    <!--<link rel="icon" href="/static/images/favicon-62.png" sizes="62x62" type="image/png">-->
    <!--<link rel="icon" href="/static/images/favicon-192.png" sizes="192x192" type="image/png">-->

    <!--<link rel="icon" href="/images/favicon.ico" sizes="16x16">-->
    <!--[if lt IE 9]>
    <script type="text/javascript" rel="script" charset="UTF-8">
        (function(){alert('兼容性差的低版本IE浏览器无法支持本系统!');})()
    </script>
    <![endif]-->
    <% if (htmlWebpackPlugin.options.production) { %>
    <script type="text/javascript" rel="script">
        if(location.protocol === 'http:') {
            location.href = location.href.replace('http://', 'https://');
        }
    </script>
    <% } %>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" charset="UTF-8" type="text/css">
    <% } %>
</head>
<body>

<div id="app"></div>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" defer type="text/javascript" charset="UTF-8"></script>
<% } %>

</body>
</html>